table td {
    text-align: center;
}

.user_dts {
    
    width: 200px;
    height: 200px;
    text-align: center;
    padding-top: 20px;
    
}

.center {

    margin: auto;
    width: 100%;
    border: 3px solid #73AD21;
    padding: 10px;
  }